<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body style="font:normal 12px Helvetica, Verdana, Arial, sans-serif;">

<form method="POST" action='/in'>
<div class="w3-panel w3-white">
                <h1 class="w3-text-black" style="text-shadow:1px 1px 0 #444">
                <b><img src="static/images/ce1.jpg" style="max-width:190"></b></h1>
            </div><br><br>

<div class="w3-container w3-row" style="padding-left:350px;">
    <div class="w3-col l3 w3-green">
    </div>
    
                    <div class="w3-card-4 w3-col l8" >

                    <header class="w3-container w3-blue">
                    <h1 style="padding-left:250px">Fill the form below</h1>
                    </header>

                    <div class="w3-container">
                    <p><div class="w3-row">
                    <div class="w3-col l2 w3-white w3-center">
                    
                    </div>
                    <div class="w3-row">
                    <div class="w3-col l10 w3-white w3-center" style="font:bold 16px Calibri, Verdana, Arial, sans-serif;padding-left:150px;">
                    
                    <input class="w3-input w3-border" style="width:50%;" name="token" id="token" type="text" placeholder="Enter Token"><br>
                    <label for="sdate" >Start Date:</label>
                    <input type="date" id="sdate" name="sdate" style="width:50%">
                    <br><br>
                    <label for="edate" >End Date:</label>
                    <input type="date" id="edate" name="edate" style="width:50%">
                    </p>
                    <input type="submit" value="GET INVOICE" class="w3-btn w3-blue" style="padding-left:60px"></input>
                    </div>

                    <footer class="w3-container w3-white">
                    <h1 style="text-shadow:1px 1px 0 #444">
                    <div class="float:right;width: 20px;border: 3px solid #73AD21;">
                <b><img src="static/images/powered.png" style="max-width:150;padding-left: 50px;"></b></div></h1>
                    </footer>

                    </div>    
                    
       

           
                    <div class="w3-row">
  <div class="w3-col s3 w3-center"><p></p></div>
  <div class="w3-col s3 w3-center"><p></p></div>
  <div class="w3-col s3 w3-center"><p></p></div>
  <div class="w3-col s3 w3-center"><p> </p></div>
  
</div>
                    
                
                </div>
                </div>
                
                
        




</form>



</body>
</html>
